<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

 {{#each comments as |comment|}}
 <div class="row mb-2">
<p>{{comment.body}}
  <em>
  created by {{comment.user.name}}
  on {{format_date comment.date_created}}
 </em>
</p>

 </div>
 {{/each}}
 <div>
  <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-body">Add your comment:</label>
        <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="replyBtn" data-id="{{id}}" class="btn btn-primary">Reply</button>
      </div>
    </form>
 </div>
 <script src="../js/blogPost.js"></script>