{{!-- displays all the blog posts on the home page --}}
{{#each blogPosts as |blogPost| }}
<div class="row mb-3">
  <div class="col-md-5">
    <h2>
      <a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a>
    </h2>
    <p>Created by {{blogPost.user.name}} on {{format_date blogPost.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      <em> {{blogPost.body}}</em>
    </p>
  </div>
</div>
{{/each}}
